*{
    box-sizing: border-box;
}
 .nava{
    margin: 10px;
    padding: 10px;
}
a:link, a:visited, a:active{
    text-decoration:none;
    color: #6d7b93;
}
.pa{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
}
.header{
   
    display: flex;
    flex-flow: column nowrap;
}
.menu{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(218,255,248,1) 100%);
}
.logo{
    margin: 10px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    flex: 10 1 auto;
    font-weight: bold;
    color: #3555d3;
    
}
.nav{
    margin: 10px;
    padding: 10px;
    display: flex;
    font-family: 'Calibri';
    font-size: 30px;
    flex: 1 1 auto;
    font-weight: bold;   

}
.boton
{
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    height: 60px;
    text-align: center;
    border-radius: 6px;
    color: #ffffff !important;;
    background-color: #3858d6;
}
.doc{
    margin: 10px;
    width: 900px;
    height: 800px;
}
.textoprincipal{
        display: flex;
        justify-content: space-between;
}
.textdoc{
    margin: 10px;
    padding: 10px;
}
.figt{
    color: #1f3e72;
    font-size: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.parra{
    color: #6d7b93;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
}
.iconos{
    display: inline-block;
    padding: 10px;
    color: #49628c;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tiempo{
    padding-top: 100px;
    padding-left: 30px;
    display: inline-block;
    
}
.tiempotext{
    display: inline-block;
    color: #1f3e72;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold; 
    padding-left: 20px;
}
.divicono{
    font-weight: bold; 
}
.calendario{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 150px;
    width: 900px;
    position: relative;
    background-color: #e7f3fc;
    border-radius: 6px;
    align-items: center;
    left: 200px;
    
}
.textcale{
    display: inline-block;
    color: #6d7b93;
    font-weight: bold; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.textcale2{
    display: inline-block;
    color: #1f3e72;
    font-weight: bold; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.boton2{   
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    border-radius: 6px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff !important;;
    background-color: #3858d6;
}
.marcas{
    height: 200px;
   
}
.marcabox{
    display: flex;
    justify-content: space-around;
}
.why{
    color: #1f3e72;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.cajatexto{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-flow: column nowrap;
}
.contenedor{
    display: flex;
    justify-content: space-around;
}
.opciones{
    border-radius: 6px;
    border: 5px solid #f8f8fe;
    padding: 60px;
    
}
.tituloop{
    color: #1f3e72;
    font-size: 26px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.textop{
    color: #6d7b93;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.preparation{
    display: flex; 
    justify-content: flex-end;
    margin-right: 90px;
}
.contenedorwra{
    display: flex;
}

.tituloop2{
    color: #1f3e72;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.preparation2{
    margin-right: 90px;
}
.contac{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.call{
    display: grid;
    grid-template-columns: 50px 25% auto;
    grid-template-rows: 50px auto;
    grid-gap: 20px 10px;
}
   


.wrapper {
    max-width: 600px;
    width: 100%;
    margin: 200px 100px 100px 200px;
 
}

input {
    display: none;
}

label {
    display: flex;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 6px;
    border: 5px solid #f8f8fe;
    user-select: none;
}

label div:first-child {
    width: 100%;
    line-height: 45px;
    margin-left: 10px;
    font-size: 1.2em;
}

.content {
    box-sizing: border-box;
    margin: 10px 60px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, .5s;
    color: #6d7b93;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


input:checked ~ .content {
    max-height: 400px;
    transition: max-height, 1s;
}
