*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background:url(img/vac.png);
    background-position: top center;
    
}
.hed{
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(218,255,248,1) 100%);
    height: 175px;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #3555d3;
    
}
.nav{
    font-family: 'Calibri';
    font-size: 30px;
    font-weight: bold;  
}
.boton{
    height: 70px;
    text-align: center;
    border-radius: 6px;
    color: #ffffff !important;;
    background-color: #3858d6;
}
.hrefa{
    color: #6d7b93;
}